body {
  /* TODO a hack - find a decent solution */
  -webkit-user-select: none; 
}

.yuma-hint {
  font-family:Arial, Verdana, Sans;
  font-size:11px;
  color:#000;
  background-color:#fff;
  padding:5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;

  /* Firefox */
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  /* WebKit */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  /* Opera */
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  /* Standard */
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.yuma-canvas {
  /* Firefox */
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  /* WebKit */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  /* Opera */
  -o-transition-property: opacity;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  /* Standard */
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.yuma-popup {
  font-family:Arial, Verdana, Sans;
  font-size:12px;
  color:#000;
  background-color:#fff;
  border:1px solid black;
  padding:3px 6px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}



