{namespace yuma.templates}

/**
 * A dummy element to be used for annotation popups later on
 */
{template .popup}
<div class="yuma-popup" style="position:absolute; pointer-events:none;">
  An annotation!
</div>
{/template}
