{namespace annotorious.templates.openlayers}

/**
 * The secondary 'Click and Drag' hint
 * @param msg
 */
{template .secondaryHint}
<div class="annotorious-opacity-fade" style="white-space:nowrap; position:absolute; pointer-events:none; top:80px; width:100%; text-align:center;">
  <div class="annotorious-ol-hint" style="width: 400px; margin:0px auto;">{$msg}</div>
</div>
{/template}
